{% extends 'base.html' %}
{% block title %}
Транслятор: Главная
{% endblock %}
{% block content %}

  <!-- Контент -->
  <div class="container mt-5">
	<h1 class="text-center">Преобразуйте Pascal в Python</h1>
	<div class="row mt-4">
		<!-- Блок ввода кода -->
		<div class="col-md-6">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-primary">Конвертировать</button>
			</form>
	
	
		</div>
		<!-- Блок Drag and Drop -->
		<div class="col-md-6 d-flex align-items-center justify-content-center border border-dashed border-secondary rounded" style="height: 250px;">
			<div class="text-center">
				<p class="mb-2">Перетащите сюда файлы</p>
				<button class="btn btn-outline-secondary" name="upload">Или выберите файлы</button>
			</div>
		</div>
	</div>
	<!-- Кнопки -->
	<div class="d-flex justify-content-end gap-2 mt-3">
		<button class="btn btn-outline-secondary">Копировать</button>
		<button class="btn btn-primary">Конвертировать</button>
		<button class="btn btn-outline-secondary">Увеличить редактор</button>
	</div>
	<!-- Консоль -->
	<div class="mt-4">
		<h5>Вывод компилятора:</h5>
		<div class="console">
			{{console}}
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

</script>

{% endblock %}
